<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<div class="wrapper">
  <a name="top"></a>
  <div class="head-section">
    <div class="heading">

      <% if params["search_term"].blank? %>
        <h1 class="head-text">You did not enter a search term</h1>
      <% else %>
        <h1 class="head-text">You searched for</h1>
        <h2 class="search-term"><%= params["search_term"] %></h2>
      <% end %>

      <h2 class="results-text">These are your results</h2>

    </div>

    <div class="new-search">
      <h2 class="head-text">New Search</h2>

      <form id="homepage-form" action="/result" method="get">
        <div class="form-group">
          <label class="form-label" for="search_term_input">
            Search term to compare
          </label>
          <%= text_field_tag(:search_term, params[:search_term], class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="result_count">
            Required number of results
          </label>
          <%= number_field_tag("count", "#{params["count"]}", class: "form-control", id: "result_count") %>
        </div>

        <input type="hidden" name="basic_info" value="<%= params["basic_info"] %>"/>
        <input type="hidden" name="which_test" value="<%= params["which_test"] %>"/>
        <input class="button" id="search_button" type="submit" value="Search"></input>

      </form>
    </div>
  </div>

  <div class="grid-row">
    <% results = Searching.new(params).call %>
    <table class="results-table" >
      <tr class="table-row" class="table-row">
        <th></th>
        <th scope="col"><h3 class="heading-27" >A Results</h3></th>
        <th scope="col"><h3 class="heading-27" >B Results</h3></th>
        <th scope="col"><h3 class="heading-27" >Difference</h3></th>
      </tr>
      <% results.results.each do |result| %>
        <tr class="table-row">

          <th >
            <p class="table-body table-column-with-padding">
              <%= "#{result.position + 1 } -"%>
            </p>
          </th>

          <% sides = [result.left, result.right] %>
          <% sides.each do |side| %>
            <th class="results-column">
              <p class="results-text" >
                <a href = "<%= "#{result.link(side)}" %>" >
                  <%= truncate(result.name(side), :length => 60 ) %>
                </a>
                <p><%= result.title(side) %></p><br>
                <span class="head-info">

                  <% head_info_list = [] %>
                  <% head_info_list << result.doc_format(side).split("_").join(" ").capitalize << result.date(side) %>
                  <% if params["info"] == "enhanced" && params["historical"] == "on" ; head_info_list << result.historical(side) ; end %>
                  <% if params["info"] == "enhanced" && params["popularity"] == "on" ; head_info_list << result.popularity(side) ; end %>
                  <%= head_info_list.compact.join(", ") %>
                </span>
                <br>
                <span class="head-info">
                  <% if params["info"] == "enhanced" && params["content_id"] == "on" %>
                    <%= "Content ID: " + result.content_id(side) %>
                    <br>
                  <% end %>

                  <% if params["info"] == "enhanced" && params["organisations"] == "on" %>
                    <a href="<%= result.organisations(side)[1] %>"><%= result.organisations(side)[0] %></a>
                  <% end %>
                  <% if params["info"] == "enhanced" && params["people"] == "on" && result.people(side)[0] != nil %>
                    <a href="<%= result.people(side)[1] %>"><%= result.people(side)[0] %></a>
                  <% end %>
                </span>
                <br>
                <span class="head-info-2">
                  <%= truncate(result.description(side), :length => 200) %>
                </span>
                <span class="head-info">
                  <% if params["info"] == "enhanced" && params["mainstream_browse_pages"] == "on"  %>
                    <% result.mainstream_browse_pages(side) %>
                  <% end %>
                  <% if params["info"] == "enhanced" && params["taxons"] == "on" && result.taxons(side) != nil  %>
                    <% result.taxons(side) %>
                  <% end %>
                  <% if params["info"] == "enhanced" && params["policies"] == "on" && result.policies(side) != nil  %>
                    <% result.policies(side) %>
                  <% end %>
                  <% if params["info"] == "enhanced" && params["specialist_sectors"] == "on" %>
                    <% result.specialist_sectors(side) %>
                  <% end %>
                  <% if params["info"] == "enhanced" && params["document_collections"] == "on" && result.document_collections(side) != nil  %>
                    <% result.document_collections(side) %>
                  <% end %>

                  <table class="enhanced-results-table">
                    <% result.enhanced_results_hash.each do |field, title_link_pair| %>
                      <tr>
                        <th class="msbp-table-title">
                          <%= field %>
                        </th>
                      </tr>
                      <% title_link_pair.each do |title, link| %>
                        <tr>
                          <th class="msbp-table">
                            <% if link != "" %>
                              <a href="<%= link %>"><%= title %></a>
                            <% else %>
                              <p><%= title %></p>
                            <% end %>
                          </th>
                        </tr>
                      <% end %>
                    <% end %>
                  </table>
                </span>
              </p>
            </th>
          <% end %>


          <% if result.score_difference == "++++" || result.score_difference > 0 %>
            <th>
              <div class="up-box">
                <p class="table-body">
                  <%= "+#{result.score_difference}" %>
                </p>
              </div>
            </th>
          <% elsif result.score_difference == 0 %>
            <th>
              <div class="changeless-box">
                <p class="table-body">
                  N/A
                </p>
              </div>
            </th>
          <% else %>
            <th>
              <div class="down-box">
                <p class="table-body">
                  <%= result.score_difference %>
                </p>
              </div>
            </th>
          <% end %>
        </tr>
      <% end %>
      <tr class="table-row">
        <th></th>
        <th>
          <%= results.left_total %> results, <%= results.left_missing %> not shown
        </th>
        <th>
          <%= results.right_total %> results, <%= results.right_missing %> not shown
        </th>
        <th>
        </th>
      </tr>
    </table>
  </div>
  <a href="#top">Back to top</a>
</div>
