<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<div class="wrapper">

  <div class="head-section">

    <div class="heading">

      <% if params["search_term"] == "" %>
        <h1 class="head-text">You did not enter a search term</h1>
      <% else %>
        <h1 class="head-text">You searched for</h1>
        <div class="search-term"><h1><%= params["search_term"] %></h1></div>
      <% end %>

      <h2 class="results-text">These are your results</h2>

    </div>

    <div class="new-search">

      <h2 class="head-text">New Search</h2>

      <form id="homepage-form" action="/result" method="get">

        <div class="form-group">
          <label class="form-label" for="search_term_input">
            Search term to compare
          </label>
          <%= text_field_tag(:search_term, params[:search_term], class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="result_count">
            Required number of results
          </label>
          <%= number_field_tag("count", "#{params["count"]}", class: "form-control", id: "result_count") %>
        </div>
        <input type="hidden" name="which_test" value="<%= params["which_test"] %>"/>
        <input class="button" id="search_button" type="submit" value="Search"></input>

      </form>

    </div>
  </div>

  <div class="grid-row">



    <%# Sets the base bit of the url and adds the user
        defined search term connected with '+' so it's in
        the right format                                  %>
    <% url = 'https://www.gov.uk/api/search.json?q=' %>
    <% term = params["search_term"] %>
    <% url += term.split.join("+") %>


    <%# Allows the user to not enter a result count (default's 10)
        and caps the displayed results at 1000 as per API limit.
        Also adds the count to the URL that's passed in        %>
    <% if params["count"] == "" %>
      <% count = "10" %>
    <% elsif params["count"].to_i > 1000 %>
      <%count = "1000" %>
    <% else %>
      <%count = params["count"] %>
    <% end %>
    <% url += "&count=" + count %>


    <%# Creates an empty hash to put the search results from our 'A'
        test in and a counter to increment within each of the following
        loops                           %>
    <% a_list = {} %>
    <% a_counter = 0 %>
    <% b_counter = 0 %>
    <div class="ab-search-wrapper-left">
      <h2 class="results-header">A Results</h2>

      <%# Adds the A test parameter to the URL  %>
      <% uri = URI("#{url}&ab_tests=#{params["which_test"]}:A") %>

      <%# Gets a result from the search API based on the URL we made %>
      <% response = Net::HTTP.get(uri) %>
      <% findings = JSON.parse(response) %>

      <%# Loops over the 'results' section of our result %>
      <% findings["results"].each do |each_bit| %>

        <%# increments counter and creates hash entry based on link and counter %>
        <% a_counter += 1 %>
        <% a_list["#{each_bit["link"]}"] = a_counter %>

        <%# displays this in the 'A' section %>
        <div class="changeless-box">
          <% link = "https://gov.uk" + each_bit["link"] %>
          <a href = "<%= link %>" ><%= each_bit["title"] %></a>
        </div>
        <br><br>
      <% end %>
    </div>

    <div class="ab-search-wrapper-right">
      <h2 class="results-header">B Results</h2>
      <% uri = URI("#{url}&ab_tests=#{params["which_test"]}:B") %>
      <% response = Net::HTTP.get(uri) %>
      <% findings = JSON.parse(response) %>
      <% findings["results"].each do |each_bit| %>

        <% b_counter += 1 %>
        <% if a_list["#{each_bit["link"]}"] != nil %>
          <% score_difference = a_list["#{each_bit["link"]}"] - b_counter %>
        <% else %>
          <% score_difference = "++++"  %>
        <% end %>

        <% if score_difference == "++++"%>
          <div class="up-box">
            <% link = "https://gov.uk" + each_bit["link"] %>
            <a href = "<%= link %>" ><%= each_bit["title"] %></a>
            <%= score_difference %>
          </div>
        <% elsif score_difference == 0 %>
          <div class="changeless-box">
            <% link = "https://gov.uk" + each_bit["link"] %>
            <a href = "<%= link %>" ><%= each_bit["title"] %></a>
          </div>
        <% elsif score_difference > 0 %>
          <div class="up-box">
            <% link = "https://gov.uk" + each_bit["link"] %>
            <a href = "<%= link %>" ><%= each_bit["title"] %></a>
            <%= "+#{score_difference}" %>
          </div>
        <% else %>
          <div class="down-box">
            <% link = "https://gov.uk" + each_bit["link"] %>
            <a href = "<%= link %>" ><%= each_bit["title"] %></a>
            <%= score_difference %>
          </div>
        <% end %>

      <br><br>
      <% end %>
    </div>

  </div>

  <div class="result-counter">
    <% number = findings["total"] - count.to_i %>
    <% number = 0 if number < 0 %>
    <%= findings["total"] %> results, <%= number %> not shown
  </div>

</div>
