<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<div class="wrapper">

  <div class="head-section">

    <div class="heading">

      <% if params["search_term"].blank? %>
        <h1 class="head-text">You did not enter a search term</h1>
      <% else %>
        <h1 class="head-text">You searched for</h1>
        <h2 class="search-term"><%= params["search_term"] %></h2>
      <% end %>

      <h2 class="results-text">These are your results</h2>

    </div>

    <div class="new-search">

      <h2 class="head-text">New Search</h2>

      <form id="homepage-form" action="/result" method="get">

        <div class="form-group">
          <label class="form-label" for="search_term_input">
            Search term to compare
          </label>
          <%= text_field_tag("search_term", "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="result_count">
            Required number of results
          </label>
          <%= number_field_tag("count", "#{params["count"]}", class: "form-control", id: "result_count") %>
        </div>

        <input type="hidden" name="which_test" value="<%= params["which_test"] %>"/>

        <input class="button" id="search_button" type="submit" value="Search"></input>

      </form>

    </div>
  </div>

  <div class="grid-row">





    <% findings_left, findings_right, a_list, a_list_titles = *Searching.new(params).call %>
    <table class="results-table" >
      <tr class="table-row" class="table-row">
        <th scope="col"><h3 class="heading-27" >A Results</h3></th>
        <th scope="col"><h3 class="heading-27" >B Results</h3></th>
        <th scope="col"><h3 class="heading-27" >Difference</h3></th>
      </tr>
      <% b_counter = 0 %>
      <% findings_right["results"].each do |each_bit| %>
        <tr class="table-row">
          <% if a_list["#{each_bit["link"]}"] %>
            <% score_difference = a_list["#{each_bit["link"]}"] - b_counter - 1 %>
          <% else %>
            <% score_difference = "++++"  %>
          <% end %>

          <% if a_list.key(b_counter + 1) %>
            <% a_link = "https://gov.uk" + a_list.key(b_counter + 1) %>
          <% end %>

          <th>
            <a href= "<%= a_link %>" >
              <p class="table-body">
                <% if a_list_titles[b_counter] %>
                  <%= truncate(a_list_titles[b_counter], :length => 50 ) %>
                <% else %>
                  <%= "" %>
                <% end %>
              </p>
            </a>
          </th>

          <% link = "https://gov.uk" + each_bit["link"] %>
          <th>
            <a href = "<%= link %>" >
              <p class="table-body">
                <%= truncate(each_bit["title"], :length => 50 ) %>
              </p>
            </a>
          </th>

          <% if score_difference == "++++"%>
            <th>
              <div class="up-box">
                <p class="table-body">
                  <%= score_difference %>
                </p>
              </div>
            </th>
          <% elsif score_difference == 0 %>
            <th>
              <div class="changeless-box">
                <p class="table-body">
                  N/A
                </p>
              </div>
            </th>
          <% elsif score_difference > 0 %>
            <th>
              <div class="up-box">
                <p class="table-body">
                  <%= "+#{score_difference}" %>
                </p>
              </div>
            </th>
          <% else %>
            <th>
              <div class="down-box">
                <p class="table-body">
                  <%= score_difference %>
                </p>
              </div>
            </th>
          <% end %>
          <% b_counter += 1 %>
        </tr>
      <% end %>
      <tr class="table-row">
        <th>
          <% number = findings_left["total"] - findings_left["results"].count %>
          <% number = 0 if number < 0 %>
          <%= findings_left["total"] %> results, <%= number %> not shown
        </th>
        <th>
          <% number = findings_right["total"] - findings_right["results"].count %>
          <% number = 0 if number < 0 %>
          <p class="table-body">
            <%= "#{findings_right["total"]} results, #{number} not shown" %>
          </p>
        </th>
        <th>
        </th>
      </tr>
    </table>
  </div>
</div>
