<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<div class="wrapper">
  <a name="top"></a>
  <div class="head-section">

    <div class="heading">
      <% if params["search_term"].blank? %>
        <h1 class="head-text">You did not enter a search term</h1>
      <% else %>
        <h1 class="head-text">You searched for</h1>
        <h2 class="search-term"><%= params["search_term"] %></h2>
      <% end %>
      <h2 class="results-text">These are your results</h2>
    </div>

    <div class="new-search">
      <h2 class="head-text">New Search</h2>
      <form id="homepage-form" action="/result" method="get">
        <div class="form-group">
          <label class="form-label" for="search_term_input">
            Search term to compare
          </label>
          <%= text_field_tag(:search_term, params[:search_term], class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="result_count">
            Required number of results
          </label>
          <%= number_field_tag("count", "#{params["count"]}", class: "form-control", id: "result_count") %>
        </div>
        <input type="hidden" name="which_test" value="<%= params["which_test"] %>"/>
        <input class="button" id="search_button" type="submit" value="Search"></input>
      </form>
    </div>

  </div>
  <div class="grid-row">
    <% results = Searching.new(params).call %>
    <table class="results-table" >
      <tr class="table-row">
        <th></th>
        <th scope="col"><h3 class="heading-27" >A Results</h3></th>
        <th scope="col"><h3 class="heading-27" >B Results</h3></th>
        <th scope="col"><h3 class="heading-27" >Difference</h3></th>
      </tr>

      <% results.rows.each_with_index do |row, i| %>
        <tr class="table-row">
          <th >
            <p class="table-body table-column-with-padding">
              <%= "#{i + 1} -" %>
            </p>
          </th>

          <% row.each do |side| %>
            <th class="results-column">
              <p class="results-text" >
                <a href = "<%= "#{link_format(side['link'])}" %>" >
                  <%= truncate(name(side['link']), :length => 60 ) %>
                </a>
                <p><%= side['title'] %></p><br>
                <span class="head-info">
                  <%= head_info_list_maker(side).compact.join(", ") %>
                  <%= render(:partial => "content_id", :locals => {:side => side}) %>
                </span>
                <br>
                <span class="head-info-2">
                  <%= truncate(side['description'], :length => 200) %>
                </span>
              </p>
            </th>
          <% end %>

          <% score_difference = results.score_difference(results.right[i]['link'], i) %>
          <% if score_difference == "0" %>
            <th>
              <div class="changeless-box">
                <p class="table-body">
                  N/A
                </p>
              </div>
            </th>
          <% elsif score_difference.start_with?("-") %>
            <th>
              <div class="down-box">
                <p class="table-body">
                  <%= score_difference %>
                </p>
              </div>
            </th>
          <% else %>
            <th>
              <div class="up-box">
                <p class="table-body">
                  <%= "+#{score_difference}" %>
                </p>
              </div>
            </th>
          <% end %>

        </tr>
      <% end %>

      <tr class="table-row">
        <th></th>
        <th>
          <%= "#{results.left_total} results, #{results.left_missing} not shown" %>
        </th>
        <th>
          <%= "#{results.right_total} results, #{results.right_missing} not shown" %>
        </th>
        <th>
        </th>
      </tr>
    </table>
  </div>

  <a href="#top">Back to top</a>
</div>
