<div class="homepage-form-container">
  <%= form_for :search, url: "/result", method: 'get', html: { class: "homepage-form" } do |f| %>

    <div class="form-group">
      <%= f.label :search_term, "Search term to compare", class: "form-label" %>
      <%= f.text_field :search_term, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :count, 'Required number of results', class: "form-label" %>
      <%= f.number_field :count, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :which_test, "A/B test being used", class: "form-label" %>
      <%= f.select :which_test, { "Search Match Length" => "search_match_length", "None" => "none" }, {}, class: "form-control AB_select" %>
    </div>

    <div class="host-wrapper" id="host-wrapper">
      <div class="host-form-group-a">
        <%= f.label :host_a, "Host A", class: "form-label" %>
        <%= f.select :host_a, Searching::HOSTS.keys.map {|a| [a.capitalize, a] }, {}, {class: "form-control", id: "host-select-a"} %>
      </div>

      <div class="host-form-group-b">
        <%= f.label :host_b, "Host B", class: "form-label" %>
        <%= f.select :host_b, Searching::HOSTS.keys.map {|a| [a.capitalize, a] }, {}, {class: "form-control", id: "host-select-b"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :info_basic, class: "form-label radio-label" do %>
        <%= f.radio_button :info, "basic", class: "search-info-level", checked: true %>
        <span class="radio-tag">Basic Information</span>
        <div class="control-indicator"></div>
      <% end %>

      <%= f.label :info_enhanced, class: "form-label radio-label" do %>
        <%= f.radio_button :info, "enhanced", class: "search-info-level" %>
        <span class="radio-tag">Enhanced Information</span>
        <div class="control-indicator"></div>
      <% end %>

      <div class="enhanced-checkbox" id="enhanced-checkbox">
        <% Searching::OPTION_FIELDS.sort.each do |option| %>
          <div class="enhanced-option-wrapper">
            <%= f.label option, class: "enhanced-labels" do %>
              <%= f.check_box option, {class: "enhanced-option"}, "on" %>
              <%= option == "content_id" ? "Content ID" : option.titleize %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= f.submit 'Search', class: "button" %>
  <% end %>
</div>
