<% content_for :app_title do %>
    <%= "Search Performance Explorer" %>
<% end %>

<% content_for :content do %>
  <noscript>
    <div class="noscript-notice">
      <p>JavaScript is turned off and this site won't function properly</p>
    </div>
  </noscript>

  <div id="wrapper">
    <h1 class="head-text">Search</h1><br><br>

    <div class="homepage-form-container">
      <form class="homepage-form" action="/result" method="get">

        <div class="form-group">
          <label class="form-label" for="search_term">
            Search term to compare
          </label>
          <%= text_field_tag("search_term", "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="count">
            Required number of results
          </label>
          <%= number_field_tag("count", "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label class="form-label" for="AB_select">
            A/B test being used
          </label>
          <select class="form-control" name="which_test" id="AB_select">
            <option value="search_match_length">Search Match Length</option>
            <option value="none">None</option>
          </select>
        </div>

        <div class="host-wrapper">
          <div class="host-form-group">
            <label class="form-label" for="host-select-a">
              Host A
            </label>
            <select class="form-control" name="which_test" id="host-select-a">
              <option value="production">Production</option>
              <option value="staging">Staging</option>
              <option value="integration">Integration</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="host-form-group-right">
            <label class="form-label" for="host-select-b">
              Host B
            </label>
            <select class="form-control" name="which_test" id="host-select-b">
              <option value="production">Production</option>
              <option value="staging">Staging</option>
              <option value="integration">Integration</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label radio-label" for="info_basic">
            <%= radio_button_tag("info", "basic", true, class: "info-basic") %>
            <span class="radio-tag">Basic Information</span>
            <div class="control-indicator" ></div>
          </label>
        </div>

        <div class="form-group">
          <label class="form-label radio-label" for="info_enhanced">
            <%= radio_button_tag("info", "enhanced", false, class: "info-enhanced") %>
            <span class="radio-tag">Enhanced Information</span>
            <div class="control-indicator" ></div>
          </label>
        </div>

        <div class="enhanced-checkbox">
          <% Searching::OPTION_FIELDS.sort.each do |option| %>
            <div class="enhanced-option-wrapper">
              <%= check_box_tag(option, "on", false, class: "enhanced-option") %>
              <label class="enhanced-labels" for="<%= option %>" >
                <%= option == "content_id" ? "Content ID" : option.titleize %>
              </label>
            </div>
          <% end %>
        </div>

        <input class="button" id="search_button" type="submit" value="Search"></input>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('input[type="radio"]').click(function() {
        if($(this).attr('id') == 'info_enhanced') {
          $('.enhanced-checkbox').show();
        }
        else {
          $('.enhanced-checkbox').hide();
        }
      });
    });
  </script>
<% end %>
