<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% yield :app_title %>
    <% yield :head %>
  </head>

  <% content_for :head do %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application' %>
  <% end %>

  <body>
    <% yield :content %>
    <%= render template: 'layouts/govuk_admin_template' %>
  </body>

</html>
